@use '../base'

article
    @include base.desktop()
        width: 90%
        height: 100vh

    .container-info
        .icon-area
            color: base.$secondary-color
            height: 8rem
            @include base.desktop()
                width: 15rem !important
                height: 16rem

            &.first-type
                background-color: base.$extra-primary-color

            &.second-type
                background-color: base.$extra-secondary-color

            &.third-type
                background-color: base.$extra-tertiary-color

            &.fourth-type
                background-color: base.$extra-quartenary-color

            svg
                font-size: 5em

        .description-area
            @include base.desktop()
                width: 70%

        h1
            font-family: base.$libre-baskerville-font
