@use '../base'

#clients-area
    background-image: url('/background-2.webp')
    background-repeat: no-repeat
    background-size: cover
    background-position: left center

    .clients-area-overlay
        background-color: base.$tertiary-color-b

        .clients-brands
            @include base.tablet()
                grid-template-columns: 30% 30% 30%

            @include base.desktop()
                gap: 5rem !important
