@use "../base"

#company-area
    @include base.tablet()
        position: relative

    @include base.desktop()
        width: 80%

    @include base.bigDesktop()
        width: 70%

    img
        height: 20rem
        object-fit: cover
        object-position: top bottom
        @include base.tablet()
            width: 50% !important
            height: 25rem

        @include base.desktop()
            width: 50% !important
            height: 30rem

    .more-info
        border: 8px solid base.$tertiary-color
        @include base.tablet()
            width: 50%
            padding: 1rem 2.5rem !important
            position: absolute
            right: 1rem
            height: 26rem

        h2
            font-family: base.$libre-baskerville-font
