@use "../base"

.group-main-area
    background-image: url('/background-1.webp')
    background-position: left top
    background-repeat: no-repeat
    background-size: cover

    .main-area
        color: base.$secondary-color-b

        h1
            font-family: base.$libre-baskerville-font
            text-shadow: 0px 0px 20px base.$quartenary-color

        p
            text-shadow: 0px 0px 5px base.$quartenary-color
