@use '../base'

.services-area
    background-color: base.$tertiary-color

    .services-container
        .service-container
            color: base.$secondary-color

            &:first-child
                background-color: base.$extra-primary-color

            &:nth-child(2)
                background-color: base.$extra-secondary-color

            &:nth-child(3)
                background-color: base.$extra-tertiary-color

            &:last-child
                background-color: base.$extra-quartenary-color

            svg
                font-size: 3em

            h3
                font-family: base.$libre-baskerville-font
