$primary-color: #d1931f
$primary-color-b: #ed931f
$primary-color-c: #aa6b19
$secondary-color: #fafafa
$secondary-color-b: #ffffff
$secondary-color-c: #F0E9E9
$tertiary-color: #D8EAF0
$tertiary-color-b: #b7deedb4
$tertiary-color-c: #2E3138
$quartenary-color: #000000bd
$quartenary-color-b: #0000007e
$extra-primary-color: #14161B
$extra-secondary-color: #5B6F76
$extra-tertiary-color: #93B5C4
$extra-quartenary-color: #B7DFED
$libre-baskerville-font: 'Libre Baskerville', serif
$open-sans-font: 'Open Sans', sans-serif

body
    font-family: $open-sans-font
    background-color: $secondary-color
    color: $quartenary-color
